# Dependencies & Build
bandoso-api/
frontend/dist/
frontend/node_modules/

# Python cache & virtual environments
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
automation/temp/
automation/processed_images/

# OS metadata
.DS_Store
**/.DS_Store
Thumbs.db
